*{
  margin: 0;
  padding: 0;


}
.navigation{

  display: flex;
  height: 3.2rem;
  justify-content: space-between;
   background-color: #2c2825;



}
li{
  display: inline-block;
  list-style: none;
  /* padding-left: 570px; */
  padding-right: 100px;
  color: #F5DB88;
}
li:hover{
  color:white;
  cursor: pointer;
}
ul{

  display: flex;
  margin-top: 16px;

}
.logo{
  margin-left: 15px;
  margin-top: 5px;
  color: #CA9F4F;
}
 /* img{
  height:150vh;
  width:100%;
  opacity:0.8;
} */
section{


  background-image:url("images/tables_and_chairs_restaurent.png");
  background-position: center;
  background-size: cover;
  height: 90vh;
  opacity: 0.9;
  display: flex;
  flex-flow: column;
  text-align: center;
  justify-content: space-around;

}
.title{
  color:white;
  font-style: oblique;
  align-items: center;
  font-size: 80px;

}

.title_2{
  color:white;
  font-style: oblique;
  align-items: center;
  font-size: 50px;

}
.title_3{
  color:white;
  font-style: oblique;
  align-items: center;
  font-size: 35px;

}
.btn{
  height: 50px;
  width: 120px;
  border-radius: 20px;
  /* padding: 20px; */
  background-color: #CA9F4F;
   margin-left: 550px;

}
.btn:hover{
  background-color: #6F4E37;
  color:white;
}

.product_heading{
    margin-top: 28px;
    margin-bottom: 60px;
    color: #6F4E37;
    font-size: 40px;
    font-style: oblique;
}
.products_section{
  display: flex;
  flex-flow: column;
  text-align: center;
}
.images_product{
  width:300px;
  height: 200px;
}
.all_content{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 7px;
}
.content{
  border: 2px solid  #F5DB88;
  background-color: white;
     box-shadow: 1px 2px 8px 5px  #6F4E37;

}
.product_name{
  text-align: center;
  font-size: 20px;
  font-style: oblique;
  font-weight: bold;
  padding-top: 10px;
}
.product_price{
  text-align: center;
  font-size: 20px;
  font-style: oblique;
  font-weight: bold;
  padding-top: 10px;
}
.button{
  border-radius: 20px;
  background-color: #CA9F4F;
  margin-bottom: 7px;
  height: 35px;
  width: 90px;
  margin-top: 15px;

}
.button:hover{
  background-color:  #6F4E37;
  color: white;
}
.special-offer{
  background-color:  #6F4E37;
  margin-top: 30px;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.main_div{
  background-image: url("images/2_coffee_glass.png");
  background-position: center;
  background-size: 100% 100%;
  height: 90vh;
  width:50%;
   display: flex;
   flex-flow: column;
   margin-top: 70px;
   margin-bottom: 40px;
  box-shadow: 1px 2px 10px 10px white;
  animation: slider 10s infinite ease-in-out;

}
@keyframes slider {
  /* 10%{
    background-image: url("images/2_coffee_glass.png");
  } */
  45%{
    background-image: url("images/single_coffee_glass_with_white_and_light_brown_color.png");
     /* animation:3s ease-in-out , */
  }
  75%{
    background-image: url("images/product_design.png");
    /* animation: 3s ease-in-out , */
  }

}
.spec{
   text-align: center;
   padding-top: 40px;
   color: white;
   font-size: 40px;
   font-style: oblique;
}

.border-form{
  border: 1px solid black;
    width: 30vw;
    height: 50vh;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    text-align: center;
    background-color: antiquewhite;
    box-shadow: 1px 2px 8px 5px  #6F4E37;

}
.registration-form{
  display: flex;
    flex-flow: column;
    text-align: center;
    margin-top: 30px;
}
form{
  display: flex;
    justify-content: center;
    margin-top: 30px;
}
.submit-button{
  border-radius: 20px;
  background-color: #CA9F4F;

  height: 35px;
  width: 90px;

}
.heading-registration-form{
  color: #6F4E37;
  font-size: 40px;
  font-style: oblique;
}
.footer{
  background-color:  #6F4E37;
  height: 10vh;

  margin-top: 35px;
}
.logo{
  display: flex;
    justify-content: center;
}
.logo-images{
  height: 25px;
  margin-top: 16px;
  padding:0px 15px;
}
.logo-images:hover{
  background-color: antiquewhite;
  border-radius: 10px;
  height:27px;
  cursor:pointer;

}
.submit-button:hover{
  background-color:  #6F4E37;
  color: white;
}
label{
  color:#6F4E37;
  font-style: oblique;
}
@media screen and (max-width:1000px) {
 .title{
   font-size:90px;
 }
 .title_2{
   font-size: 50px;
 }
 .title_3{
   font-size: 35px;
 }
 .main_div{
   width: 50%;
    height: 30vh;


 }
 .border-form{

   width: 50vw;
    height: 25vh;
 }
 .btn{

   margin-left: 430px;
 }
 .logo{
   align-items: center;
    font-size: 25px;
    padding-left: 1px;
    align-items: center;



 }
 li{
   padding-left:20px;
   padding-right:5px;
   align-items: center;
   margin-top: 5px;
 }
 section{
   height: 35vh;
 }
 .all_content{
   display: inline-grid;
   gap:12px;
 }
 .logo_footer{
   margin-top: 30px;
   align-items: center;
    font-size: 25px;
    padding-left: 1px;
    align-items: center;
 }
 .footer{
   height:6vh;
 }


}
@media screen and (min-width: 1000px) and (max-width:1200px) {
  .main_div{
    width: 50%;
     height:80vh;


  }
  .title{
    font-size:65px;
  }
  .title_2{
    font-size: 45px;
  }
  .title_3{
    font-size: 28px;
  }
}
